<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/fragment :: dynamic(~{::main})}">
<body>
<main class="container" >
	<div id="wrapper">
		<div class="container">
			<div class="row justify-content-around">
				<form action="/register/save" class="col-md-5 bg-light p-3 my-3" 
					method="post" th:object="${account}">
					<div class="card-title mb-5 text-uppercase">doi mk</div>
					<div class="row">
						<div class="col-sm-6 form-group">
							<label for="floatingInputUsername">[[#{regist.name}]]:</label> 
							<input type="text" th:field="*{username}" name="username" id="username" class="form-control" required>
						</div>
						
						<div class="col-sm-6 form-group">
							<label for="password">Mat k moi:</label> 
							<input type="password" name="password" id="password" class="form-control" required>
						</div>
						<div class="col-sm-6 form-group">
							<label for="passwordRe">xn mk moi:</label> 
							<input type="password" name="passwordRe" id="passwordRe" class="form-control" required>
						</div>
					</div>
					<div th:if="${message != null}" class="alert alert-primary"
						role="alert">
						<i>[[${message}]]</i>
					</div>
					<button class="btn-primary btn btn-block mb-3">[[#{regist.regist}]]</button>
					<div class="small text-center"><a th:href="@{/security/login/form}">[[#{login.login}]]</a></div>
				</form>
			</div>
		</div>
	</div>
	</main>
</body>
</html>